@import url("https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vh 5vh;
  height: 5%;
  background-color: brown;
}
nav .logo {
  font-family: "Playwrite VN", serif;
}
.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  list-style: none;
  font-size: 2vh;
}
.links ul a {
  text-decoration: none;
  color: aliceblue;
}
